* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
}
body {
  background-color: #300c33;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
h1 {
  position: relative;
  bottom: 166px;
  left: 468px;
  color: #fff;
}
.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px #000;
  background: #fff;
}
.fill {
  background-image: url("https://source.unsplash.com/random/180x180");
  height: 145px;
  width: 145px;
  cursor: pointer;
}
.hold {
  border: solid 5px #ccc;
}
.hovered {
  background: #333;
  border-color: #fff;
  border-style: dashed;
}
@media (max-width: 900px) {
  body {
    flex-direction: column;
  }
}
